/* all style */
head {
    font-family: Arial, Helvetica, sans-serif;
}

/* full font style*/
.orange {
    color: #FD6E0A;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 265px;
    align-items: center;
}

.name {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    color: var(--Dark-01, #181818);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.primary-btn {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    /* margin-top: 50px; */
    /* font-style: normal; */
    font-weight: 700;
    padding: 18px 35px;
    border: 0px;
}

/* header styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../media/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* text color relatad */
.gray {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

/* banner related */
.banner {
    /* margin: 185px 1193px 480px 265px; */
    margin-left: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-picture {
    height: 676px;
    width: 580px;
}

.bismillah {
    font-weight: 600;
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}

.later-bismillah {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5PX;
    margin-bottom: 0;
}

.bottom-btn01 {
    margin-top: 50px;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* #bottom-btn02 {
    margin-top: 50px;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
} */
.bottom-btn02 {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}

/* main sector css started */
.aheading {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.about-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

/* about section  */
.about-info-container {
    display: flex;
    justify-content: space-between;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.info-description {
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what i do part started */
.what-i-do-container {}

.what-i-do-header {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.what-i-do-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* width: 909px; */
    /* 166.667% */
    justify-content: center;
    margin: 0 345px;

}

/* main tag margin css */
main {
    margin: 0 230px;
}

/* programming language and main last part css */
.planguages {
    display: flex;
    margin-right: 25px;
    justify-content: space-around;
    /* margin: 50px 230px 0; */
    align-items: center;

}

.js {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 10px 0 30px;
}

.React {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 10px 0 30px;
}

.Nodejs {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 10px 0 30px;
}

.Mongo {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 10px 0 30px;
}

.icons {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

/* resume style started */
.resume-heding {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.resume {
    /* display: flex; */
    gap: 50px;
    justify-content: space-around;
    margin-top: 130px;
}

.htwo {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.cse {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}

.my-edu {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.year-and-university {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    width: 511px;
}

.edu-description {
    color: #757575;

    font-size: 16px;
    width: 511px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.section-resume {
    display: flex;
    /* gap: 70px; */
    justify-content: space-around;
}

hr {
    background: #D1D1D1;
    width: 558px;
    height: 1px;
}

.section-resume button {
    display: block;
}

#cv-btn {
    /* justify-content: center; */
    margin-top: 70px;
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 50%;
    border: 0;
}


/* footer-section-css-started */


.footer-parents {
    display: flex;
    margin: 130px 230px;
    justify-content: center;
}

.this-the-footer {
    background: #FFF8F3;
    margin-top: 115px;
}

.contact-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.footer-heading {
    color: var(--Dark-01, #181818);
    text-align: left;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .Message-form {
    display: block;
} */
form {
    display: block;
}

.contact {
    margin-right: 117px;
}

.Message-form {
    display: block;

}

.social-link a {
    margin-right: 24px;
}

.msg-css {
    width: 461px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    margin-bottom: 24px;
    border: 0;
}

.txtarea {
    margin-bottom: 24px;
    width: 461px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;
}

.submit-button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    margin-bottom: 130px;
    margin-right: 541px;
}